{% extends "common/base.html" %}
{% block head %}
    <title>About Title</title>
{% endblock %}
{% block body %}
    <h1>About Page</h1>
    <p>Project started: 26.05.2019</p>
    <p>
        Aim of this web site is to search information's matching to the keys selected by reader from his favourite media like:<br>
        1) news websites:<br>
        -  Russia Today,<br>
        - Jerusalem Post,<br>
        - Washington Post,<br>
        - Der Spiegel,<br>
        - Die Zeit,<br>
        - Aljazeera<br>
        - China daily<br>
        - W polityce<br>
        - TVN24<br>
        2) videos websites:<br>
        - YouTube<br>
        3) social media websites:<br>
        - Facebook<br>
        - Twitter<br>
        4) etc
    </p>
    <p>Author: Piotr Górecki</p>
{% endblock %}