{% extends "common/base.html" %}
{% block head %}
    <title>News Title</title>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-4">
        <div class="content-section">
            <!--<form method="POST" action="{% url 'news-about' %}">-->
            <form method="POST" action="search/">
                {% csrf_token %}
            <h3>Sidebar</h3>
            <p class='text-muted'>Select Your Source.
                <ul class="list-group">
                {% for source in sources %}
                    <label><input type="checkbox" checked>{{ source.title }}</label>
                {% endfor %}
                    <input type="text" name="textfield">
                    <button type="submit">Upload text</button>
                </ul>
            </p>
            </form>
        </div>
    </div>
    <div class="col-md-8">
    {% for news in newses %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'news-source' news.source.title %}">{{ news.source.title }}</a>
            </div>
            <h2><a class="article-title" href="{% url 'news-detail' news.id %}">{{ news.title }}</a></h2>
            <h2><a class="article-content" href="{{ news.link }}">{{ news.link }}</a></h2>
        </div>
    </article>
    {% endfor %}
    </div>
    </div>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}