{% extends "common/base.html" %}
{% block head %}
    <title>News Title</title>
{% endblock %}
{% block body %}
    {% for news in newses %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ news.source.title }}</a>
            </div>
            <h2><a class="article-title" href="{{ news.link }}">{{ news.title }}</a></h2>
            <p class="article-content">{{ news.link }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock %}