{% extends "common/base.html" %}
{% block head %}
    <title>News Source Title</title>
{% endblock %}
{% block body %}
    <h1 class="mb-3">News from {{ view.kwargs.title }} ({{ page_obj.paginator.count }})</h1>
    {% for news in newses %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'news-source' news.source.title %}">{{ news.source.title }}</a>
            </div>
            <h2><a class="article-title" href="{% url 'news-detail' news.id %}">{{ news.title }}</a></h2>
            <h2><a class="article-content" href="{{ news.link }}">{{ news.link }}</a></h2>
        </div>
    </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}