{% extends "common/base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Sidebar</h3>
                <p class='text-muted'>Create Your new post.
                <ul class="list-group">
                    <a class="list-group-item list-group-item-light" href="{% url 'post-create'%}">New Post</a>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}